.wrapper {
	display: grid;
	gap: 8px;
	grid-template-rows: auto 1fr;
	min-width: 320px;
	height: 100vh;
	max-width: 1600px;
	margin: 0 auto;

	padding: 8px;
	position: relative;
}

/*.wrapper:after {*/
/*	position: absolute;*/
/*	content: "";*/
/*	top: 0;*/
/*	left: 0;*/
/*	right: 0;*/
/*	z-index: -1;*/
/*	height: 100%;*/
/*	width: 100%;*/
/*	margin: 0 auto;*/
/*	filter: blur(5vw);*/
/*	background: linear-gradient(270deg, rgb(15, 255, 193, 0.4), rgb(126, 15, 255, 0.4));*/
/*	background-size: 200% 200%;*/
/*	animation: animateGlow 10s ease infinite;*/
/*}*/

/*@keyframes animateGlow {*/
/*	0% {*/
/*		background-position: 0 50%*/
/*	}*/
/*	50% {*/
/*		background-position: 100% 50%*/
/*	}*/
/*	100% {*/
/*		background-position: 0 50%*/
/*	}*/
/*}*/